<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <header>

    </header>

    <div class="container">

      <div class="starter-template">
        <h1>Burgahlicous</h1>

        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->


  </body>
</html>
